ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgb(195, 67, 242);
    
    height: 30px;
    align-items: center;
}

.lin{
    text-decoration: none ;
    color:white;

}
.lin:hover{
    
    color:rgb(154, 244, 214);
}